.transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  /* Transition rules */
  transition-duration: 200ms; /* how long the transition should take */
  /* transition-delay: 1000ms; */ /* Wait this long before activating */
  transition-property: scale; /* which CSS rule should this apply to? */
  transition-timing-function: ease-in-out; /* The acceleration of the transition */
}
.transition:hover {
  background-color: greenyellow;
  color: black;
  scale: 1.1;
}
.transition:active {
  background-color: rgb(3, 70, 3);
  color: white;
  scale: 0.9;
}

.hover-scale {
  transition: all 100ms ease-in-out;
}
.hover-scale:hover {
  scale: 1.02;
}
/* Animimation Styling */
.animation-container {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

  animation-name: bouncing;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

@keyframes bouncing {
  0% {
    transform: translateY(0px);
  }

  95% {
    transform: translateY(80px);
    height: 20px;
  }

  100% {
    transform: translateY(85px);
    height: 15px;
    transform: matrix3d();
  }
}

.slidin-left {
  animation-name: slidin;
  animation-duration: 2000ms;
  --from-offset: -100vw;
}

.slidin-right {
  animation-name: slidin;
  animation-duration: 2000ms;
  --from-offset: 100vw;
}

@keyframes slidin {
  0% {
    transform: translateX(var(--from-offset));
  }
}
