.transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  transition-duration: 200ms;
  /* transition-delay: 1000ms; */
  transition-property: scale;
  transition-timing-function: ease-in-out;
}
.transition:hover {
  background-color: greenyellow;
  color: black;
  scale: 1.1;
}
.transition:active {
  background-color: rgb(3, 70, 3);
  color: white;
  scale: 0.9;
}

.hover-scale {
  transition: all 100ms ease-in-out;
}
.hover-scale:hover {
  scale: 1.02;
}
