.transition {
  background-color: green;
  color: white;
  padding: 1rem 2rem;

  /* Transition rules */
  transition-duration: 200ms; /* how long the transition should take */
  /* transition-delay: 1000ms; */ /* Wait this long before activating */
  transition-property: scale; /* which CSS rule should this apply to? */
  transition-timing-function: ease-in-out; /* The acceleration of the transition */
}
.transition:hover {
  background-color: greenyellow;
  color: black;
  scale: 1.1;
}
.transition:active {
  background-color: rgb(3, 70, 3);
  color: white;
  scale: 0.9;
}

.hover-scale {
  transition: all 100ms ease-in-out;
}
.hover-scale:hover {
  scale: 1.02;
}
